configuration/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="CITY_MANAGE_TIKSHUV.xsd" xmlns:mstns="CITY_MANAGE_TIKSHUV.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="CITY_MANAGE_TIKSHUV.xsd" elementFormDefault="qualified">
	<xsd:simpleType name="Idate">
			<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="Ipernr">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
			<xsd:pattern value="[0-9]{0,8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Iname">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
			<xsd:pattern value="([0-9א-ת &quot;&apos;\?\.\(\)%,\-]){0,40}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ID">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
			<xsd:minLength value="0"/>
			<xsd:pattern value="([0-9]{0,20})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TeleString">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="12"/>
			<xsd:pattern value="([0-9 \-]){0,12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="IND">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:minLength value="0"/>			
			<xsd:pattern value="([0-9 a-zA-z]{0,10})"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CharSet">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([a-zA-Z0-9א-ת &quot;&apos;\?\.\(\)%/,\-]){0,250}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Char1">
		<xsd:restriction base="CharSet">
			<xsd:maxLength value="1"/>
			<xsd:minLength value="0"/>
		</xsd:restriction>
	</xsd:simpleType>	
	<xsd:simpleType name="Char20">
		<xsd:restriction base="CharSet">
			<xsd:maxLength value="20"/>
			<xsd:minLength value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Char40">
		<xsd:restriction base="CharSet">
			<xsd:maxLength value="40"/>
			<xsd:minLength value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Char250">
		<xsd:restriction base="CharSet">
			<xsd:maxLength value="250"/>
			<xsd:minLength value="0"/>
		</xsd:restriction>
	</xsd:simpleType>	
	<xsd:simpleType name="NumSeq">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{0,45}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Dgt1">
		<xsd:restriction base="NumSeq">
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Dgt45">
		<xsd:restriction base="NumSeq">
			<xsd:maxLength value="45"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="CITY_MANAGE_TIKSHUV_out">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Records" maxOccurs="100000">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="PERNR" type="Ipernr"/>
							<xsd:element name="PERID"  type="ID"/>
							<xsd:element name="FIRST_NAME" type="Iname"/>
							<xsd:element name="LAST_NAME"  type="Iname"/>
							<xsd:element name="BIRTHDATE" type="Idate"/>
							<xsd:element name="GENDER_CODE" type="Dgt1" />
							<xsd:element name="GENDER_DESC" type="Char20" />
							<xsd:element name="EMAIL" minOccurs="0">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="CELLPHONE" minOccurs="0" type="TeleString" />
							<xsd:element name="SOSH_CODE">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:pattern value="[a-zA-Z0-9]{0,1}"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="SOSH_DESC" type="Char20"/>
							<xsd:element name="RECRUIT_DATE" minOccurs="0" type="Idate"/>
							<xsd:element name="KEVA_START_DATE" minOccurs="0" type="Idate"/>
							<xsd:element name="RELEASE_DATE" minOccurs="0" type="Idate"/>
							<xsd:element name="IND_CELIAC" minOccurs="0" type="IND"/>
							<xsd:element name="IND_FOOD_SENSITIVE" minOccurs="0" type="IND"/>
							<xsd:element name="COMMANDER_PERID" minOccurs="0"  type="ID"/>
							<xsd:element name="FRAME_UNIT_CODE" minOccurs="0" type="Dgt45" />
							<xsd:element name="FRAME_UNIT_DESC" minOccurs="0" type="CharSet"/>	
							<xsd:element name="feedback" minOccurs="0" type="Char1"/>	
							<xsd:element name="errorMsg" minOccurs="0" type="Char250"/>								
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
